@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-details-container {
    padding:16px;
}

.back-container {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 64px;   
    position:absolute;
    top:32px;
    left:32px;   
}

.content-container {
    display:flex;
    flex-direction: column-reverse;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.back-container > svg {
    height:16px;
    margin-right:16px;
    cursor:pointer
}

.heading-container {
    display:flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.body-container {
    margin-top:32px;
}

.heading-title {
    font-size: 24px;
    line-height: 36px;
    margin-top: 32px;
    font-family: 'TekoBold'
}

.heading-subtitle {
    font-size: 16px;
    line-height: 24px;
    color:rgb(203, 203, 203);
    font-family:'TekoSemiBold'
}

.product-details-tabs {
    margin-bottom:24px
}

.product-details-description {
    color: black;
    margin-bottom:16px;
    padding-right: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
}

.product-details-price {
    font-weight: bold;
    margin-bottom:48px;
    font-size: 24px;
    display: flex;
}

.product-details-price > span {
    color:rgb(203, 203, 203);
    font-weight:bold;
    margin-left:16px;
}

.product-details-color {
    display:flex;
    flex-direction: column;   
}

.product-details-color > p {
    margin-bottom:12px;
    font-size:12px;
    font-weight:bold
}

.color-dropdown {
    width: 100px;
    height: 32px;
    border: 1px solid gray;
    margin-bottom: 24px;
}

.picture {
    aspect-ratio: auto;
    width:100%;
}

.product-details-button {
    background-color: rgb(63, 135, 245);
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:16px;
    width:200px;
    border-radius: 4px;
    margin-top: 24px;
    cursor:pointer;
}

.hr-break {
    margin-top: 16px;
    border-color:rgba(203, 203, 203, 0.3);
}


/* 
Responsiveness
*/

@media (min-width:768px) and (max-width: 1024px) {
    .product-details-container {
        padding:64px;
    }
}

@media
  (min-width: 1025px) {
    .product-details-container {
        display:flex;
        flex-direction: row;
        padding:64px;
        background-color: rgb(237, 237, 237);
    }

    .content-container {
        display:flex;
       flex-direction: row;
        width:100%;
        background-color: white;
        padding:64px;
        padding-top:32px;
    }

    .content-container > .body-container {
        width:45%;
    }

    .content-container > img {
        width:55%;
    }

    .picture {
        border-left: 1px solid rgb(203, 203, 203)
    }

    .back-container {
        top:96px;
        left:128px;
    }

    .product-details-description {
        margin-bottom: 32px;
    }
  }